/* SASS Variables */
$body-background-color: #E8B881;
$parent-background-color: #81E882;
$children-background-color: #FFF79B;

body {
  background: $body-background-color;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1 {
  position: fixed;
  font-size: 1em;
  left: 10px;
  top: 5px;
}

.parent {
  background: $parent-background-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.children {
  background: $children-background-color;
  height: 150px;
  width: 150px;
  margin: 10px;
}
