/* SASS Variables */
$body-background-color: #E8B881;
$parent-background-color: #81E882;
$children-background-color: #FFF79B;

body {
  background: $body-background-color;
  display: flex;
  justify-content: center;
}

h1 {
  position: fixed;
  font-size: 1em;
  left: 10px;
  top: 5px;
}

.parent {
  background: $parent-background-color;
  width: 600px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.children {
  background: $children-background-color;
  flex-grow: 1;
  &:first-child {
    flex-grow: 2;
    order: 3;
  }
}
