/* SASS Variables */
body {
  overflow: hidden;
  margin: 0; }

.parent {
  background: #81E882;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.children {
  background: #FFF79B;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  text-align: center; }
  .children video {
    height: 100vh;
    width: auto;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%); }
