/* SASS Variables */
$parent-background-color: #81E882;
$children-background-color: #FFF79B;

body {
  overflow: hidden;
  margin: 0;
}

.parent {
  background: $parent-background-color;
  display: flex;
  flex-flow: row nowrap;
}

.children {
  background: $children-background-color;
  flex-grow: 1;
  overflow: hidden;
  text-align: center;
  video {
    height: 100vh;
    width: auto;
    transform: translateX(-20%);
  }
}
